Source: mariadb-galera-5.5
Section: database
Priority: optional
Maintainer: Debian MySQL Maintainers <pkg-mysql-maint@lists.alioth.debian.org>
Uploaders: Otto Kekäläinen <otto@seravo.fi>,
           Clint Byrum <clint@ubuntu.com>,
           James Page <jamespage@debian.org>
Build-Depends: bison,
               chrpath,
               cmake,
               debhelper (>= 9),
               hardening-wrapper,
               libaio-dev [linux-any],
               libjemalloc-dev [linux-any],
               libncurses5-dev (>= 5.0-6),
               libpam0g-dev,
               libreadline-gplv2-dev,
               libssl-dev,
               libwrap0-dev (>= 7.6-8.3),
               lsb-release,
               perl,
               po-debconf,
               psmisc,
               zlib1g-dev (>= 1:1.1.3-5)
Standards-Version: 3.9.5
Homepage: http://mariadb.org/
Vcs-Git: git://git.debian.org/git/pkg-mysql/mariadb-5.5.git
Vcs-Browser: http://git.debian.org/?p=pkg-mysql/mariadb-5.5.git

Package: mariadb-galera-server-5.5
Architecture: any
Suggests: mailx, mariadb-test, tinyca
Recommends: libhtml-template-perl
Pre-Depends: adduser (>= 3.40), debconf, mariadb-common
Depends: galera (>=23.2),
         libdbi-perl,
         libmariadbclient18 (>= ${binary:Version}),
         lsb-base (>= 3.0-10),
         mariadb-client-5.5 (>= ${source:Version}),
         passwd,
         perl (>= 5.6),
         psmisc,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: mariadb-server-core-5.5,
           mariadb-tokudb-engine-5.5,
           mysql-server-core-5.5,
           mysql-server-core-5.6
Breaks: mariadb-server-5.5,
        mariadb-tokudb-engine-5.5,
        mysql-server-5.5,
        mysql-server-5.6,
        mariadb-server,
        mysql-server,
        virtual-mysql-server-core,
        virtual-mysql-server
Replaces: mariadb-server-5.5,
          mariadb-tokudb-engine-5.5,
          mysql-server-5.5,
          mysql-server-5.6,
          mariadb-server,
          mysql-server,
          virtual-mysql-server-core,
          virtual-mysql-server
Provides: virtual-mysql-server, virtual-mysql-server-core
Description: MariaDB database server with Galera cluster binaries
 MariaDB is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MariaDB are speed, robustness and
 ease of use.
 .
 This package includes the server binaries.

Package: mariadb-galera-server
Architecture: all
Depends: mariadb-galera-server-5.5 (>= ${source:Version}), ${misc:Depends}
Description: MariaDB database server with Galera cluster (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 mariadb-galera-server (currently mariadb-galera-server-5.5), as determined by the MariaDB
 maintainers. Install this package if in doubt about which MariaDB-Galera
 version you need. That will install the version recommended by the
 package maintainers.
 .
 MariaDB is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MariaDB are speed, robustness and
 ease of use.
